ul.menungang {
    display: flex;
    list-style: none;
    width: 900px;
    margin-left: auto;
    margin-right: auto ;
}
.menutren{
    background-color: rgb(10, 110, 128);
    height: 30px;
    width: 100%;
    text-align: center;
}
ul.menungang li{
    display: inline;
}
ul.menungang  a {
    color: white;
    text-decoration: none;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    padding-top: 6px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    transition: 0.3s;
}
ul.menungang  a:hover {
    background-color: rgb(10, 175, 175);
    padding-top: 2px;
    padding-bottom:8px;

}
.cottrai {
    font-family: segoe ui light;
    font-size: 20px;
    width: 600px;
    margin: auto;
    padding: auto;
}
img{
    width: 100%;
}
a.anhtext{
    text-decoration: none;
    color: gray;
    font-size: 30px;
}
a.anhtext  h3{
    margin: 0;
    padding:0 ;
}
a.anhtext:hover {
    color: rgb(46, 149, 149);
}
a.nguon, a.lq{
    text-decoration: none;
    padding-right: 10px;
}
span.gio{
    padding-right: 10px;
}
a.nguon:hover{
    color: rgb(46, 149, 149);
}
a.lq:hover{
    color: rgb(46, 149, 149);
}